@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');



body {
    box-sizing: border-box;
}

.container {
    width: 96%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #1565c0;
}

.address-form {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: 1px lightgray solid;

    & input[type=text] {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding: .5rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid #1565c0;
    }

    & button[type=submit] {
        display: flex;
        background-color: #fff;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding: .5rem;
        margin-left: 1rem;
    }
}